APP_NAME=Payment Gateway
DEBUG=true
LOG_LEVEL=DEBUG

# postgresql+psycopg2://<user>:<password>@<host>:<port>/<database>
DATABASE_URL=postgresql+psycopg2://gateway_user:gateway_pass@localhost:5432/softrobo_payment_gateway
